.reste{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.resteu{
    display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
   
}
.rest{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    }
.rest b{
    color: firebrick;

 }
 h1{
     color: green;
     text-align:  center;
     background-color:rgba(235, 171, 10, 0.589);
 }